@import "bootstrap-social.less";
html,
body {
    height: 100%;
    background-image: url("../img/bg_gral.jpg");
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.full-height {
    min-height: 100%;
}

.mark {
    border-style: solid;
    border-width: 2px;
}

.side {
    border-style: solid;
    border-width: 2px;
}

.side-header {
    background: #343a40;
    color: #FFFFFF;
}

img {
    border-radius: 5px;
}

.carrusel {
    height: 300px;
}

.image-carrusel {
    height: 300px;
    width: inherit;
}

.image-tarjeta {
    width: fit-content;
}

@media screen and (min-width: 991.98px) {
    .image-tarjeta {
        height: 180px;
        width: fit-content;
    }
    .carrusel {
        height: 500px;
    }
    .image-carrusel {
        height: 500px;
        width: inherit;
    }
}

.redes {
    position: fixed;
    left: 0;
    top: 300px;
    z-index: 2000;
    width: 15rem;
    border-style: solid 2px;
    border: 2px;
}

.redes ul {
    list-style: none;
    padding-left: 0px;
}

.redes ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    width: px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.redes ul li .icon-fb {
    background: #3b5998
}

.redes ul li .icon-tw {
    background: #00abf0
}

.redes ul li .icon-ig {
    background: #ae181f
}

.redes ul li a:hover {
    background: #000;
    padding: 10px 30px;
}

.fab {
    width: 15px;
    height: 15px;
}