html,
body {
    height: 100%;
    background-image: url("../img/bg_gral.jpg");
    background-repeat: repeat-x;
}

.full-height {
    min-height: 100%;
}

.mark {
    border-style: solid;
    border-width: 2px;
}

.side {
    border-style: solid;
    border-width: 2px;
}

.side-header {
    background: #343a40;
    color: #FFFFFF;
}

img {
    border-radius: 5px;
}

.carrusel {
    height: 300px;
}

.image-carrusel {
    height: 300px;
    width: inherit;
}

.image-tarjeta {
    width: fit-content;
}

@media screen and (min-width: 991.98px) {
    .image-tarjeta {
        height: 180px;
        width: fit-content;
    }
    .carrusel {
        height: 500px;
    }
    .image-carrusel {
        height: 500px;
        width: inherit;
    }
}